body {
	background-color: black;
	margin: 0 0 0 0;
	height: 5000px;
}

.header {
	position: fixed;
	height: 40px;
	background-color: blue;
	width: 100%;
	border-radius: 10px;
	margin-top: -10px;
}

ul {
	padding: 0 0 0 0;
	display: block;
	margin-top: 10;
	margin-left: auto;
	margin-right: auto;
	width: 20em;
}

li {
	margin: auto;
	padding: 0 10px 0 10px;
	text-align: center;
	font-size: 20px;
	color: white;
	display: inline-block;
}